Web References/ServiciosPesaNET/ServiciosPesaNET.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ServiciosPesaNET" elementFormDefault="qualified" targetNamespace="ServiciosPesaNET" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ComprobarProductor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionParaComprobarProductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PeticionParaComprobarProductor">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Linea" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tag" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobarProductorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ComprobarProductorResult" type="tns:RespuestaDeComprobarProductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaDeComprobarProductor">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Existe" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Productor" type="tns:ProductorWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Plantaciones" type="tns:ArrayOfPlantacionWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Medianerias" type="tns:ArrayOfMedianeriaWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Vehiculos" type="tns:ArrayOfVehiculoWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Calidades" type="tns:ArrayOfCalidadWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Variedades" type="tns:ArrayOfVariedadWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductorWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Apellidos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NIF" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPlantacionWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantacionWCF" nillable="true" type="tns:PlantacionWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlantacionWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Termino" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Poligono" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parcela" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMedianeriaWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedianeriaWCF" nillable="true" type="tns:MedianeriaWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedianeriaWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Medianeros" type="tns:ArrayOfMedianeroWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMedianeroWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedianeroWCF" nillable="true" type="tns:MedianeroWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedianeroWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Productor" type="tns:ProductorWCF" />
      <xs:element minOccurs="1" maxOccurs="1" name="Porcentaje" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVehiculoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiculoWCF" nillable="true" type="tns:VehiculoWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehiculoWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCalidadWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalidadWCF" nillable="true" type="tns:CalidadWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalidadWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVariedadWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariedadWCF" nillable="true" type="tns:VariedadWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VariedadWCF">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mostrar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IniciarProceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionParaIniciarProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PeticionParaIniciarProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Productor" type="tns:ProductorWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Plantacion" type="tns:PlantacionWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Vehiculo" type="tns:VehiculoWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Medianeria" type="tns:MedianeriaWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Calidad" type="tns:CalidadWCF" />
      <xs:element minOccurs="0" maxOccurs="1" name="Variedad" type="tns:VariedadWCF" />
      <xs:element minOccurs="1" maxOccurs="1" name="Linea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IniciarProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="IniciarProcesoResult" type="tns:RespuestaDeIniciarProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaDeIniciarProceso">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ProcesoIniciado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizarProceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionParaActualizarProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PeticionParaActualizarProceso">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Linea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActualizarProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ActualizarProcesoResult" type="tns:RespuestaDeActualizarProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaDeActualizarProceso">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Finalizado" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Parcial" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Duracion" nillable="true" type="tns:TimeSpan" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeSpan" />
</xs:schema>