Web References/ServiciosPesaNET/ServiciosPesaNET.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="ServiciosPesaNET" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="ServiciosPesaNET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ServiciosPesaNET/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ServiciosPesaNET?xsd=xsd0" namespace="ServiciosPesaNET" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosDePantalla_ComprobarProductor_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarProductor" />
  </wsdl:message>
  <wsdl:message name="IServiciosDePantalla_ComprobarProductor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarProductorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosDePantalla_IniciarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiciosDePantalla_IniciarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosDePantalla_ActualizarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiciosDePantalla_ActualizarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProcesoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosDePantalla">
    <wsdl:operation name="ComprobarProductor">
      <wsdl:input wsam:Action="ServiciosPesaNET/IServiciosDePantalla/ComprobarProductor" message="tns:IServiciosDePantalla_ComprobarProductor_InputMessage" />
      <wsdl:output wsam:Action="ServiciosPesaNET/IServiciosDePantalla/ComprobarProductorResponse" message="tns:IServiciosDePantalla_ComprobarProductor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarProceso">
      <wsdl:input wsam:Action="ServiciosPesaNET/IServiciosDePantalla/IniciarProceso" message="tns:IServiciosDePantalla_IniciarProceso_InputMessage" />
      <wsdl:output wsam:Action="ServiciosPesaNET/IServiciosDePantalla/IniciarProcesoResponse" message="tns:IServiciosDePantalla_IniciarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProceso">
      <wsdl:input wsam:Action="ServiciosPesaNET/IServiciosDePantalla/ActualizarProceso" message="tns:IServiciosDePantalla_ActualizarProceso_InputMessage" />
      <wsdl:output wsam:Action="ServiciosPesaNET/IServiciosDePantalla/ActualizarProcesoResponse" message="tns:IServiciosDePantalla_ActualizarProceso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>